<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Trang chủ</title>
<div layout:fragment="headerFiles">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/blog-post.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/blog-post.css">

	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/ecommerce-create.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/ecommerce-create.css">
		
	<link href="/css/assets/light/pages/faq.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/assets/dark/pages/faq.css" rel="stylesheet" type="text/css" /> 

</div>
</head>
<body>
	<div layout:fragment="content">
		<div class="middle-content container-xxl p-0">
			<div class="row layout-top-spacing">


				<div class="faq">

					<div class="faq-layouting layout-spacing">

						<div class="fq-tab-section">
							<div class="row">
								<div class="col-md-12">

									<h2>
										Các <span>câu hỏi</span> thường gặp
									</h2>

									<div class="row">

										<div class="col-lg-6">

											<div class="accordion" id="simple_faq">
												<div class="card">
													<div class="card-header" id="fqheadingOne">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseOne"
															aria-expanded="false" aria-controls="fqcollapseOne">
															<span class="faq-q-title">Cách đặt vé tàu như thế nào?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-down">
																	<polyline points="6 9 12 15 18 9"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseOne" class="collapse"
														aria-labelledby="fqheadingOne"
														data-bs-parent="#simple_faq">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>

											

												<div class="card">
													<div class="card-header" id="fqheadingFive">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseFive"
															aria-expanded="false" aria-controls="fqcollapseFive">
															<span class="faq-q-title">Tàu có các loại ghế nào?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-down">
																	<polyline points="6 9 12 15 18 9"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseFive" class="collapse"
														aria-labelledby="fqheadingFive"
														data-bs-parent="#simple_faq">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>

												<div class="card">
													<div class="card-header" id="fqheadingSix">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseSix"
															aria-expanded="false" aria-controls="fqcollapseSix">
															<span class="faq-q-title">Tàu có cung cấp dịch vụ ăn uống không?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-down">
																	<polyline points="6 9 12 15 18 9"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseSix" class="collapse"
														aria-labelledby="fqheadingSix"
														data-bs-parent="#simple_faq">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">

											<div class="accordion" id="simple_faq1">
												

												<div class="card">
													<div class="card-header" id="fqheadingTwo2">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseTwo2"
															aria-expanded="false" aria-controls="fqcollapseTwo2">
															<span class="faq-q-title">Tôi có thể mang hành lý bao nhiêu?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-up">
																	<polyline points="18 15 12 9 6 15"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseTwo2" class="collapse"
														aria-labelledby="fqheadingTwo2"
														data-bs-parent="#simple_faq1">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>

												<div class="card">
													<div class="card-header" id="fqheadingThree3">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseThree3"
															aria-expanded="false" aria-controls="fqcollapseThree3">
															<span class="faq-q-title">Tôi có thể mang động vật lên tàu không?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-down">
																	<polyline points="6 9 12 15 18 9"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseThree3" class="collapse"
														aria-labelledby="fqheadingThree3"
														data-bs-parent="#simple_faq1">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>

												<div class="card">
													<div class="card-header" id="fqheadingFour4">
														<div class="mb-0" data-bs-toggle="collapse"
															role="navigation" data-bs-target="#fqcollapseFour4"
															aria-expanded="false" aria-controls="fqcollapseFour4">
															<span class="faq-q-title">Nếu tôi muộn tàu thì sao?</span>
															<div class="icons">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none"
																	stroke="currentColor" stroke-width="2"
																	stroke-linecap="round" stroke-linejoin="round"
																	class="feather feather-chevron-down">
																	<polyline points="6 9 12 15 18 9"></polyline></svg>
															</div>
														</div>
													</div>
													<div id="fqcollapseFour4" class="collapse"
														aria-labelledby="fqheadingFour4"
														data-bs-parent="#simple_faq1">
														<div class="card-body">
															<p>Anim pariatur cliche reprehenderit, enim eiusmod
																high life accusamus terry richardson ad squid. 3 wolf
																moon officia aute, non cupidatat skateboard dolor
																brunch. Food truck quinoa nesciunt laborum eiusmod.
																Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
																squid single-origin coffee nulla assumenda shoreditch
																et. Nihil anim keffiyeh helvetica, craft beer labore wes
																anderson cred nesciunt sapiente ea proident. Ad vegan
																excepteur butcher vice lomo. Leggings occaecat craft
																beer farm-to-table, raw denim aesthetic synth nesciunt
																you probably haven't heard of them accusamus labore
																sustainable VHS.</p>
														</div>
													</div>
												</div>

												
											</div>

										</div>


									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
					<div class="single-post-content">

						<div
							class="header text-center text-white p-1 rounded border border-primary">
							<p class="mb-0 text-primary fw-bold fs-2">QUY ĐỊNH ĐỔI, TRẢ
								VÉ</p>
						</div>

						<div class="post-content">

							<h4 class="mb-3">1. Thời gian cao điểm Tết: Mức khấu trừ đối
								với vé trả lại, đổi vé là 30% giá tiền in trên Thẻ lên tàu hỏa
								(vé).</h4>

							<p>- Từ ngày 21/01/2025 đến ngày 31/01/2025: đối với đoàn tàu
								số chẵn.</p>
							<p>- Từ ngày 01/02/2025 đến ngày 09/02/2025: đối với đoàn tàu
								số lẻ.</p>
							<p>(*) Thời gian đổi, trả vé</p>
							<p>- Hành khách đổi, trả vé cá nhân: chậm nhất trước giờ tàu
								chạy là 24 giờ.</p>
							<p class="mb-3">- Hành khách trả vé tập thể: chậm nhất trước
								giờ tàu chạy là 48 giờ.</p>

							<h4 class="mb-3">2. Ngoài thời gian quy định tại điểm (1.)
								nêu trên, mức khấu trừ phí, thời gian đổi, trả vé thực hiện như
								sau:</h4>

							<p>- Từ ngày 21/01/2025 đến ngày 31/01/2025: đối với đoàn tàu
								số chẵn.</p>
							<p>- Từ ngày 01/02/2025 đến ngày 09/02/2025: đối với đoàn tàu
								số lẻ.</p>
							<p>(*) Thời gian đổi, trả vé</p>
							<p>- Hành khách đổi, trả vé cá nhân: chậm nhất trước giờ tàu
								chạy là 24 giờ.</p>
							<p class="mb-3">- Hành khách trả vé tập thể: chậm nhất trước
								giờ tàu chạy là 48 giờ.</p>

							<h4 class="mb-3">3. Hình thức trả vé.</h4>

							<p>- Khi hành khách mua vé và thanh toán online qua website
								bán vé của Ngành Đường sắt, app bán vé hoặc các ứng dụng mua vé
								tàu hỏa của các đối tác thứ ba thì có thể trả vé online qua các
								website bán vé của Ngành Đường sắt hoặc đến trực tiếp nhà ga.</p>
							<p>- Khi hành khách mua vé bằng các hình thức khác, muốn đổi
								vé, trả vé hành khách đến trực tiếp nhà ga kèm theo giấy tờ tùy
								thân bản chính của người đi tàu (hoặc người mua vé) cho nhân
								viên đường sắt. Đồng thời, thông tin trên thẻ đi tàu phải trùng
								khớp với giấy tờ tùy thân của hành khách.</p>
							<p class="mb-3">Trân trọng cảm ơn!.</p>

						</div>

					</div>

				</div>
			</div>
		</div>

		<!--  BEGIN CUSTOM SCRIPTS FILE  -->
		<div layout:fragment="footerFiles">
			    <script src="/js/assets/pages/faq.js"></script>
			
		</div>
		<!--  END CUSTOM SCRIPTS FILE  -->
</body>

</html>