<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar-wrapper sidebar-theme">

	<nav id="sidebar">

		<div class="navbar-nav theme-brand flex-row text-center">
			<div class="nav-logo">

				<div class="nav-item theme-text">
					<a href="#" class="nav-link"> TRAIN-BOOKING </a>
				</div>
			</div>
			<div class="nav-item sidebar-toggle">
				<div class="btn-toggle sidebarCollapse">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-chevrons-left">
                        <polyline points="11 17 6 12 11 7"></polyline>
                        <polyline points="18 17 13 12 18 7"></polyline>
                    </svg>
				</div>
			</div>
		</div>

		<div class="profile-info">
			<div class="user-info">
				<div class="profile-img">
					<img src="/images/profile-30.png" alt="avatar">
				</div>
				<div class="profile-content">
					<h6 class="">Bảo Anh Tin</h6>
					<p class="">Quản trị viên</p>
				</div>
			</div>
		</div>

		<ul class="list-unstyled menu-categories" id="accordionExample">
			<li th:class="${page == 'dashboard'} ? 'menu active' : 'menu'">

				<a th:href="@{/dashboard/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-home">
                            <path
								d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
						<span>Bảng điều khiển</span>
					</div>
			</a>
			</li>

			<li class="menu menu-heading">
				<div class="heading">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-minus">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
					<span>HỆ THỐNG</span>
				</div>
			</li>

			<li th:class="${page == 'user'} ? 'menu active' : 'menu'"><a
				th:href="@{/user/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-user">
	                            <path
								d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
	                            <circle cx="12" cy="7" r="4"></circle>
	                        </svg>
						<span>Người dùng</span>
					</div>
			</a></li>

			<li th:class="${page == 'booking'} ? 'menu active' : 'menu'"><a
				th:href="@{/booking/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-shopping-cart">
							<circle cx="9" cy="21" r="1"></circle>
							<circle cx="20" cy="21" r="1"></circle>
							<path
								d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
						<span>Đơn đặt vé</span>
					</div>
			</a></li>

			<li class="menu menu-heading">
				<div class="heading">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-minus">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
					<span>THÔNG TIN TÀU</span>
				</div>
			</li>

			<li th:class="${page == 'station'} ? 'menu active' : 'menu'"><a
				th:href="@{/station/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-book">
							<path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
							<path
								d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
						<span>Nhà ga</span>
					</div>
			</a></li>

			<li
				th:class="${page == 'coach' || page == 'train' || page == 'seattype'} ? 'menu active' : 'menu'">
				<a href="#coach" data-bs-toggle="collapse"
				th:aria-expanded="${page == 'coach' || page == 'train' || page == 'seattype'} ? true : false"
				class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-truck">
							<rect x="1" y="3" width="15" height="13"></rect>
							<polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
							<circle cx="5.5" cy="18.5" r="2.5"></circle>
							<circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
						<span>Loại tàu</span>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline></svg>
					</div>
			</a>
				<ul
					th:class="${page == 'coach' || page == 'train' || page == 'seattype'} ? 'collapse submenu list-unstyled show' : 'collapse submenu list-unstyled'"
					id="coach" data-bs-parent="#accordionExample">
					<li th:class="${page == 'train'} ? 'active' : ''"><a
						th:href="@{/train/index}">Quản lý tàu</a></li>
					<li th:class="${page == 'coach'} ? 'active' : ''"><a
						th:href="@{/coach/index}">Quản lý toa</a></li>
					<li th:class="${page == 'seattype'} ? 'active' : ''"><a
						th:href="@{/seattype/index}">Quản lý loại ghế</a></li>
				</ul>
			</li>

			<li class="menu menu-heading">
				<div class="heading">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-minus">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
					<span>THÔNG TIN VÉ</span>
				</div>
			</li>

			<li th:class="${page == 'schedule'} ? 'menu active' : 'menu'"><a
				th:href="@{/schedule/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-navigation">
							<polygon points="3 11 22 2 13 21 11 13 3 11"></polygon></svg>
						<span>Chuyến đi</span>
					</div>
			</a></li>

			<li th:class="${page == 'route'} ? 'menu active' : 'menu'"><a
				th:href="@{/route/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-map">
							<polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon>
							<line x1="8" y1="2" x2="8" y2="18"></line>
							<line x1="16" y1="6" x2="16" y2="22"></line></svg>
						<span>Hành trình</span>
					</div>
			</a></li>

			<li th:class="${page == 'ticket'} ? 'menu active' : 'menu'"><a
				th:href="@{/ticket/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-check-square">
							<polyline points="9 11 12 14 22 4"></polyline>
							<path
								d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
						<span>Vé tàu</span>
					</div>
			</a></li>

		</ul>

	</nav>

</div>
</html>
