<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<title>Account Settings | CORK - Multipurpose Bootstrap
	Dashboard Template</title> <
<link rel="icon" type="image/x-icon" href="../image/favicon.ico" />

<div layout:fragment="headerFiles">
	<link href="/css/assets/light/users/account-setting.css"
		rel="stylesheet" type="text/css" />
	<link href="/plugins/filepond/filepond.min.css" rel="stylesheet"
		type="text/css" />
	<link href="/plugins/filepond/FilePondPluginImagePreview.min.css"
		rel="stylesheet">
	<link href="/plugins/sweetalerts2/sweetalerts2.css" rel="stylesheet">
	<link href="/css/plugins/light/filepond/custom-filepond.css"
		rel="stylesheet">
	<link href="/css/assets/light/components/tabs.css" rel="stylesheet"
		type="text/css" />
	<link href="/css/assets/light/elements/alert.css" rel="stylesheet"
		type="text/css" />
	<link
		href="/css/plugins/light/notification/snackbar/custom-snackbar.css"
		rel="stylesheet">
	<link href="/css/assets/light/forms/switches.css" rel="stylesheet"
		type="text/css" />
	<link href="/css/assets/light/components/list-group.css"
		rel="stylesheet" type="text/css" />
</div>


</head>

<body>
	<div layout:fragment="content">
		<!--  BEGIN MAIN CONTAINER  -->
		<div class="main-container " id="container">
			<div class="layout-px-spacing">

				<div class="middle-content container-xxl p-0">

					<!-- BREADCRUMB -->
					<div class="page-meta">
						<nav class="breadcrumb-style-one" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/user/profile}">Hồ
										sơ</a></li>
								<li class="breadcrumb-item active" aria-current="page">Cài
									đặt người dùng</li>
							</ol>
						</nav>
					</div>
					<!-- /BREADCRUMB -->

					<div class="account-settings-container layout-top-spacing">

						<div class="account-content">

							<a th:href="@{/user/profile}" class="btn"> Trở lại </a>

							<div class="tab-content mt-5" id="animateLineContent-4">
								<div class="tab-pane fade show active"
									id="animated-underline-home" role="tabpanel"
									aria-labelledby="animated-underline-home-tab">
									<div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
											<form class="section general-info"
												th:action="@{/user/updateProfile/{id}(id=${userLogin.id})}"
												method="POST">
												<div class="info">
													<h6 class="">Thông tin hồ sơ</h6>
													<div class="row">
														<div class="col-lg-11 mx-auto">
															<div class="row">
																<!-- Họ và tên -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="fullName">Họ và tên</label> <input
																			type="text" class="form-control mb-3" id="fullName"
																			placeholder="Full Name"
																			th:field="*{fullName}"
																			th:value="${userLogin != null ? userLogin.fullName : 'Name error'}">
																	</div>
																</div>

																<!-- Địa chỉ -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="address">Địa chỉ</label> <input
																			type="text" class="form-control mb-3" id="address"
																			placeholder="Address"
																			th:value="${userLogin != null ? userLogin.address : 'No address available'}">
																	</div>
																</div>

																<!-- Số điện thoại -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="phone">Số điện thoại</label> <input
																			type="text" class="form-control mb-3" id="phone"
																			placeholder="Write your phone number here"
																			th:value="${userLogin != null ? userLogin.phoneNumber : 'No phone number available'}">
																	</div>
																</div>

																<!-- Email (Readonly) -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="email">Email</label> <input type="text"
																			class="form-control mb-3" id="email"
																			placeholder="Write your email here"
																			th:value="${userLogin != null ? userLogin.email : 'No email available'}"
																			style="color: green" readonly>
																	</div>
																</div>

																<!-- Căn cước công dân -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="identicyCard">Căn cước công dân</label> <input
																			type="text" class="form-control mb-3"
																			id="identifyCard" placeholder="Identify card"
																			th:value="${userLogin != null ? userLogin.identifyCard : 'No identify card available'}">
																	</div>
																</div>

																<!-- Password mới -->
																<div class="col-md-6">
																	<div class="form-group">
																		<label for="password">Password mới</label> <input
																			type="password" class="form-control mb-3"
																			id="password" placeholder="Enter your new password">
																	</div>
																</div>

																<!-- Nút Lưu -->
																<div class="col-md-12 mt-1">
																	<div class="form-group text-end">
																		<button type="submit" class="btn btn-secondary">Lưu</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>

										</div>


									</div>
								</div>

							</div>

						</div>

					</div>

				</div>


			</div>
			<!--  END CONTENT AREA  -->

		</div>
	</div>

	<!--  BEGIN CUSTOM SCRIPTS FILE  -->
	<script src="/plugins/filepond/filepond.min.js"></script>
	<script src="/plugins/filepond/FilePondPluginFileValidateType.min.js"></script>
	<script
		src="/plugins/filepond/FilePondPluginImageExifOrientation.min.js"></script>
	<script src="/plugins/filepond/FilePondPluginImagePreview.min.js"></script>
	<script src="/plugins/filepond/FilePondPluginImageCrop.min.js"></script>
	<script src="/plugins/filepond/FilePondPluginImageResize.min.js"></script>
	<script src="/plugins/filepond/FilePondPluginImageTransform.min.js"></script>
	<script src="/plugins/filepond/filepondPluginFileValidateSize.min.js"></script>
	<script src="/js/assets/users/account-settings.js"></script>
	<!--  END CUSTOM SCRIPTS FILE  -->
</body>
</html>