<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Trang chủ</title>

<div layout:fragment="headerFiles">
	<link rel="stylesheet" type="text/css"
		href="/plugins/light/apex/apexcharts.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apex/custom-apexcharts.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apex/custom-apexcharts.css">
	<style>
.apexcharts-title-text {
	font-family: Nunito, sans-serif !important;
	font-size: 20px;
	font-weight: 600;
}

.flatpickr-calendar .flatpickr-monthDropdown-months {
	display: inline-block;
	width: auto;
}

.flatpickr-calendar .flatpickr-current-month {
	display: flex;
	justify-content: space-between;
}
</style>
</div>
</head>
<body>
	<div layout:fragment="content">
		<div class="middle-content container-xxl p-0">
			<div class="row layout-top-spacing">
				

				

				<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="row widget-statistic">
						<div
							class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
							<div class="widget widget-one_hybrid widget-followers">
								<div class="widget-heading">
									<div class="w-title">
										<div class="w-icon">
											<svg xmlns="http://www.w3.org/2000/svg" width="24"
												height="24" viewBox="0 0 24 24" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-users">
														<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
														<circle cx="9" cy="7" r="4"></circle>
														<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
														<path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
										</div>
										<div class="">
											<p class="w-value">31.6K</p>
											<h5 class="">Followers</h5>
										</div>
									</div>
								</div>
								<div class="widget-content">
									<div class="w-chart">
										<div id="hybrid_followers"></div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
							<div class="widget widget-one_hybrid widget-referral">
								<div class="widget-heading">
									<div class="w-title">
										<div class="w-icon">
											<svg xmlns="http://www.w3.org/2000/svg" width="24"
												height="24" viewBox="0 0 24 24" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-link">
														<path
													d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
														<path
													d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
										</div>
										<div class="">
											<p class="w-value">1,900</p>
											<h5 class="">Referral</h5>
										</div>
									</div>
								</div>
								<div class="widget-content">
									<div class="w-chart">
										<div id="hybrid_followers1"></div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
							<div class="widget widget-one_hybrid widget-engagement">
								<div class="widget-heading">
									<div class="w-title">
										<div class="w-icon">
											<svg xmlns="http://www.w3.org/2000/svg" width="24"
												height="24" viewBox="0 0 24 24" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-message-circle">
														<path
													d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
										</div>
										<div class="">
											<p class="w-value">18.2%</p>
											<h5 class="">Engagement</h5>
										</div>
									</div>
								</div>
								<div class="widget-content">
									<div class="w-chart">
										<div id="hybrid_followers3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="statbox widget box box-shadow">
			<div class="widget-header">
				<div class="row">
					<div id="chartLine" class="col-lg-12 layout-spacing">
						<div class="statbox widget box box-shadow">
							<div class="layout-top-spacing col-12"></div>
							<div id="s-line"></div>
							<div id="order-quantity"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="footerFiles">
		<script src="/plugins/apex/apexcharts.min.js"></script>
		<script src="/plugins/apex/custom-apexcharts.js"></script>
		<script type="text/javascript">
    function fetchOrderStatistics() {
        try {
            const response = fetch('http://localhost:9333/booking/statistics');
            
            response.then(res => {
                if (!res.ok) throw new Error('Failed to fetch data');
                
                return res.json(); 
            }).then(data => {
                console.log("Data received:", data);
                
                const today = new Date();
                const categories = [];
                const seriesData = [];

                for (let i = 14; i >= 0; i--) {
                    const date = new Date(today);
                    date.setDate(today.getDate() - i);

                    const formattedDate = date.toLocaleDateString('en-GB');
                    categories.push(formattedDate);

                    seriesData.push(data[formattedDate] || 0);
                }

                renderChart(categories, seriesData); 
            }).catch(error => {
                console.error('Error fetching order statistics:', error);
            });
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function renderChart(categories, seriesData) {
    	
    	const existingChart = document.querySelector('#s-line');
    	if (existingChart) {
    		existingChart.innerHTML = ''; 
    	}
        const sline = {
            chart: {
                height: 350,
                type: 'line',
                zoom: { enabled: true },
				toolbar: {
					show: true,
					offsetX: 0,
					offsetY: 25,
				},
                dropShadow: { enabled: true, top: 3, left: 3, blur: 5, opacity: 0.1 }
            },
            dataLabels: { enabled: false },
            stroke: { curve: 'smooth', width: 3 },
            series: [{
                name: "Số lượng:",
                data: seriesData
            }],
            title: {
                text: 'Số lượng đơn hàng (15 ngày gần nhất)',
                align: 'left',
                style: {
                    fontSize: '18px',
                    fontWeight: 'bold',
                    color: '#333'
                }
            },
            plotOptions: {
				bar: {
					columnWidth: '50%'
				}
			},
			fill: {
				opacity: [1],
				gradient: {
					inverseColors: false,
					shade: 'light',
					type: "vertical",
					opacityFrom: 0.85,
					opacityTo: 0.55,
					stops: [0, 100, 100, 100]
				}
			},
            grid: {
                show: true,
                borderColor: '#e5e5e5',
                strokeDashArray: 5,
                opacity: 0.1
            },
            xaxis: {
                categories: categories,
                title: {
                    style: {
                        fontSize: '12px',
                        color: '#777'
                    }
                },
                tickAmount: 6,
                labels: {
                    style: {
                        fontSize: '10px',
                        color: '#777'
                    }
                }
            },
            markers: {
                size: 6,
                colors: ['#FF0000'],
                strokeColor: '#ffffff',
                strokeWidth: 2,
                hover: {
                    size: 8,
                    colors: ['#FF6347'],
                    strokeColor: '#ffffff',
                    strokeWidth: 2
                }
            }
        };

        const chart = new ApexCharts(document.querySelector("#s-line"), sline);
        chart.render();
    }

  $(document).ready(function() {
    fetchOrderStatistics();
});

</script>


	</div>
</body>

</html>