<div class="sidebar-wrapper sidebar-theme pt-0">

	<nav id="sidebar">

		<ul class="list-unstyled menu-categories" id="accordionExample">
			<li th:class="${page == 'dashboard'} ? 'menu active' : 'menu'">

				<a th:href="@{/dashboard/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-home">
							<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
							<polyline points="9 22 9 12 15 12 15 22"></polyline>
						</svg>
						<span>Trang chủ</span>
					</div>
			</a>
			</li>

			<li th:class="menu"><a href="#" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-globe">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="2" y1="12" x2="22" y2="12"></line>
							<path
								d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
						<span>Thông tin đặt chỗ</span>
					</div>
			</a></li>

			<li th:class="${page == 'instruct'} ? 'menu active' : 'menu'">

				<a th:href="@{/instruct/index}" class="dropdown-toggle">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-check-square">
							<polyline points="9 11 12 14 22 4"></polyline>
							<path
								d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
						<span>Hướng dẫn</span>
					</div>
			</a>
			</li>

		</ul>

	</nav>

</div>

