<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Trang chủ</title>
<div layout:fragment="headerFiles">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/blog-post.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/blog-post.css">

	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/ecommerce-create.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/ecommerce-create.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/datatables.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/light/table/datatable/dt-global_style.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/dark/table/datatable/dt-global_style.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/light/table/datatable/custom_dt_custom.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/dark/table/datatable/custom_dt_custom.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/blog-create.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/blog-create.css">

	<style>
#datatable thead th {
	font-weight: bold;
	background-color: #f8f9fa;
	color: #333;
}

#datatable tbody td {
	vertical-align: middle;
}

.table-container {
	overflow-x: auto;
}

.widget-content-area {
	padding: 20px !important;
}
</style>
</div>
</head>
<body>
	<div layout:fragment="content">


		<div class="middle-content container-xxl p-0">

			<div class="d-flex justify-content-between mt-4 mb-2">
				<div>
					<div class="d-flex align-items-start">
						<h5 class="text-bold">
							CHI TIẾT ĐƠN ĐẶT VÉ <span class="badge badge-dark mr-4"
								th:text="${booking.code}"></span>
								
							<span
							th:class="'badge ' + ${booking.status.badgeClass}"
							th:text="${booking.status.displayName}"></span>
						</h5>
				
					</div>
				
					<p >Ngày đặt :  <span class="text-primary"
						th:text="${#temporals.format(booking.bookingTime, 'HH:mm, dd/MM/yyyy')}"></span></p>
				</div>
				<div>
   					 <a th:if="${booking.status != 'COMPLETED'}" th:href="${url}" target="_blank" class="btn btn-success">Thanh toán</a>
					<iframe id="pdfFrame" style="display: none;"></iframe>
					<a onclick="window.history.back();" class="btn"> Quay lại</a>
				</div>
			</div>

			<div class="row mb-4 layout-spacing">
				<div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="statbox widget box box-shadow">
						<div class="widget-header">
							<div class="row">
								<div class="col-xl-12 col-md-12 col-sm-12 col-12">
									<h4>Thông tin vé</h4>
								</div>
							</div>
						</div>
						<div
							class="widget-content widget-content-area blog-create-section">
							<div class="row">
								<div class="col-sm-12">
									<div class="table-container">
										<table id="inventoryvoucher-table"
											class="table style-3 dt-table-hover" style="width: 100%">
											<thead>
												<tr>
													<th>STT</th>
													<th>Tên vé</th>
													<th>Tên khách hàng</th>
													<th>CCCD/CMND</th>
													<th>Giá vé</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="ticket, stat : ${tickets}">
													<td th:text="${stat.count}"></td>
													<td th:text="${ticket.ticketName}"></td>
													<td th:text="${ticket.customerName}"></td>
													<td th:text="${ticket.customerIdentify}"></td>
													<td th:id="totalPrice" th:data-price="${ticket.priceTicket}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="statbox widget box box-shadow mt-4">
						<div class="widget-header">
							<div class="row">
								<div class="col-xl-12 col-md-12 col-sm-12 col-12">
									<h4>Thông tin thanh toán</h4>
								</div>
							</div>
						</div>
						<div
							class="widget-content widget-content-area blog-create-section">
							<div class="row">
								<div class="col-xxl-12">
									<div class="d-flex justify-content-between">
										<p class="text-start me-1">Tổng tiền:</p>
										<b><p th:id="price1"
												th:data-price="${booking.totalPrice}"></p></b>
									</div>
									<hr>
									<div class="d-flex justify-content-between">
										<b><p class="text-start me-1">Tổng thanh toán:</p></b> <b><p
												class="text-dark text-bold" th:id="price2"
												th:data-price="${booking.totalPrice}"></p></b>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div
					class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-xxl-0 mt-4">
					<div class="statbox widget box box-shadow">
						<div class="widget-header">
							<div class="row">
								<div class="col-xl-12 col-md-12 col-sm-12 col-12">
									<h4>Thông tin lịch trình:</h4>
								</div>
							</div>
						</div>
						<div
							class="widget-content widget-content-area blog-create-section">
							<div class="row">
								<div class="col-xxl-12">
									<div class="d-flex">
										<p class="text-start me-1">Tàu :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.schedule != null ? booking.schedule.route.train.trainName : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Nơi đi :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.schedule != null ? booking.schedule.route.departureLocation.displayName : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Nơi đến :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.schedule != null ? booking.schedule.route.destinationLocation.displayName  : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Thời gian đi :</p>
										<b><p class="text-dark text-bold"
												th:text="${#temporals.format(booking.schedule.departureDate, 'HH:mm, dd/MM/yyyy')}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Thời gian đến :</p>
										<b><p class="text-dark text-bold"
												th:text="${#temporals.format(booking.schedule.estimateArrivalDate, 'HH:mm, dd/MM/yyyy')}"></p></b>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="statbox widget box box-shadow mt-3">
						<div class="widget-header">
							<div class="row">
								<div class="col-xl-12 col-md-12 col-sm-12 col-12">
									<h4>Thông tin người đặt vé:</h4>
								</div>
							</div>
						</div>
						<div
							class="widget-content widget-content-area blog-create-section">
							<div class="row">
								<div class="col-xxl-12">
									<div class="d-flex">
										<p class="text-start me-1">Tên :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.user != null ? booking.user.fullName : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Email :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.user != null ? booking.user.email : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Số điện thoại :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.user != null ? booking.user.phoneNumber : ''}"></p></b>
									</div>
									<div class="d-flex">
										<p class="text-start me-1">Địa chỉ :</p>
										<b><p class="text-dark text-bold"
												th:text="${booking.user != null ? booking.user.address : ''}"></p></b>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row layout-top-spacing">



				<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
					<div class="single-post-content">

						<div
							class="header text-center text-white p-1 rounded border border-primary">
							<p class="mb-0 text-primary fw-bold fs-2">QUY ĐỊNH ĐỔI, TRẢ
								VÉ</p>
						</div>

						<div class="post-content">

							<h4 class="mb-3">1. Thời gian cao điểm Tết: Mức khấu trừ đối
								với vé trả lại, đổi vé là 30% giá tiền in trên Thẻ lên tàu hỏa
								(vé).</h4>

							<p>- Từ ngày 21/01/2025 đến ngày 31/01/2025: đối với đoàn tàu
								số chẵn.</p>
							<p>- Từ ngày 01/02/2025 đến ngày 09/02/2025: đối với đoàn tàu
								số lẻ.</p>
							<p>(*) Thời gian đổi, trả vé</p>
							<p>- Hành khách đổi, trả vé cá nhân: chậm nhất trước giờ tàu
								chạy là 24 giờ.</p>
							<p class="mb-3">- Hành khách trả vé tập thể: chậm nhất trước
								giờ tàu chạy là 48 giờ.</p>

							<h4 class="mb-3">2. Ngoài thời gian quy định tại điểm (1.)
								nêu trên, mức khấu trừ phí, thời gian đổi, trả vé thực hiện như
								sau:</h4>

							<p>- Từ ngày 21/01/2025 đến ngày 31/01/2025: đối với đoàn tàu
								số chẵn.</p>
							<p>- Từ ngày 01/02/2025 đến ngày 09/02/2025: đối với đoàn tàu
								số lẻ.</p>
							<p>(*) Thời gian đổi, trả vé</p>
							<p>- Hành khách đổi, trả vé cá nhân: chậm nhất trước giờ tàu
								chạy là 24 giờ.</p>
							<p class="mb-3">- Hành khách trả vé tập thể: chậm nhất trước
								giờ tàu chạy là 48 giờ.</p>

							<h4 class="mb-3">3. Hình thức trả vé.</h4>

							<p>- Khi hành khách mua vé và thanh toán online qua website
								bán vé của Ngành Đường sắt, app bán vé hoặc các ứng dụng mua vé
								tàu hỏa của các đối tác thứ ba thì có thể trả vé online qua các
								website bán vé của Ngành Đường sắt hoặc đến trực tiếp nhà ga.</p>
							<p>- Khi hành khách mua vé bằng các hình thức khác, muốn đổi
								vé, trả vé hành khách đến trực tiếp nhà ga kèm theo giấy tờ tùy
								thân bản chính của người đi tàu (hoặc người mua vé) cho nhân
								viên đường sắt. Đồng thời, thông tin trên thẻ đi tàu phải trùng
								khớp với giấy tờ tùy thân của hành khách.</p>
							<p class="mb-3">Trân trọng cảm ơn!.</p>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!--  BEGIN CUSTOM SCRIPTS FILE  -->
	<div layout:fragment="footerFiles">
		<script src="/js/assets/apps/blog-create.js"></script>
		<script src="/plugins/table/datatable/datatables.js"></script>
		<script
			src="/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js"></script>
		<script
			src="/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js"></script>
		<script>
			$('#inventoryvoucher-table')
					.DataTable(
							{
								"dom" : "<'table-responsive'tr>"
										+ "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>", // Xóa phần 'l' (length menu) và 'f' (search)
								"oLanguage" : {
									"oPaginate" : {
										"sPrevious" : '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
										"sNext" : '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
									},
									"sEmptyTable" : "Chưa có dữ liệu",
									"sInfo" : "Đang hiển thị trang _PAGE_ của  _PAGES_",
									"sZeroRecords" : "Không có bản ghi nào trùng khớp",
									"sLengthMenu" : "Kết quả :  _MENU_",
								},
								"stripeClasses" : [],
								"lengthMenu" : [ 7, 10, 20, 50 ],
								"pageLength" : 10,
								"ordering" : false
							});
		</script>

		<script>
		 	$(document).ready(function() {
		        var priceElement1 = $("#price1");
		        var priceElement2 = $("#price2");
		        var price = parseInt(priceElement1.data("price"));
		        var price = parseInt(priceElement2.data("price"));
		        
		        var formattedPrice = price.toLocaleString('vi-VN') + " VNĐ";
		        priceElement1.text(formattedPrice);
		        priceElement2.text(formattedPrice);
		        
		        $("td#totalPrice").each(function() {
		            var price = parseInt($(this).data("price"));
		            var formattedPrice = price.toLocaleString('vi-VN') + " VND";
		            $(this).text(formattedPrice);
		        });
		    });
		</script>
	</div>
	<!--  END CUSTOM SCRIPTS FILE  -->
</body>

</html>